<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <gazebo>
    <!-- add plugin info here -->
  </gazebo>
  <gazebo>
    <!-- Joint state publisher -->
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find ur3_description)/config/ur3_controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
